/nbproject/private/
/vendor/
/.php-cs-fixer.cache
/.phpunit.cache/
/.phpunit.result.cache
/phpstan.result.cache
*.log
*.cache
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
*.tmp
*.swp
.idea/
.vscode/
tree.txt